# Database Configuration
DATABASE_URL=postgres://username:password@hostname:port/database

# VeChain Configuration
VITE_REACT_APP_VECHAIN_NETWORK=test # Options: main, test
VITE_VECHAIN_NODE_URL=https://testnet.veblocks.net
VITE_VECHAIN_EXPLORER_URL=https://explore-testnet.vechain.org

# Contract Addresses (TestNet/MainNet)
VITE_REACT_APP_NFT_CONTRACT_ADDRESS=0x89e658faa1e1861b7923f35f62c96fb8e07c80b2

# For Development Only - Never use in production
# This is only for testing on testnet, not for production use
# In Netlify deployment, set this as an environment variable in the Netlify dashboard
VITE_VECHAIN_PRIVATE_KEY=your_private_key_here

# Authentication and Security
SESSION_SECRET=your_session_secret

# Web Application Settings
PORT=3000
NODE_ENV=development # Options: development, production
VITE_API_URL=http://localhost:5000 # Set to your production API URL for Netlify